.review {
	background: url(../img/review-bg.png) no-repeat center #0ab89d;
	background-size: cover;
	padding-top: 69px;
	padding-bottom: 49px;
	&__title {
		margin-top: 0;
		margin-bottom: 56px;
		color: #fff;
		font-size: 26px;
		font-weight: 400;
		text-align: center;
		@media (min-width: @screen-sm) {
			font-size: @font-size--h1;
		}
	}
	&__slide {
		background-color: #fff;
		border: 1px solid #17aa92;
		margin-bottom: 39px;
		margin-top: 29px;
		@media (min-width: @screen-sm) {
			background-color: transparent;
			border: none;
		}
	}
	&__author {
		position: relative;
		text-align: center;
		padding: 72px 15px 29px 15px;
		font-weight: 500;
		min-height: 305px;
		@media (min-width: @screen-sm) {
			background-color: #fff;
			border: 1px solid #17aa92;
		}
		img {
			position: absolute;
			left: 50%;
			transform: translate(-50%);
			top: -24px;
			height: 82px;
			width: auto !important;
		}
		p {
			font-weight: 400;
			margin-top: 13px;
			margin-bottom: 23px;
		}
	}
	&__social-links {
		text-align: center;
		margin-top: 11px;
		a {
			display: inline-block;
		}
		&--vk {
			.sprite(@icon-vk);
		}
		&--fb {
			.sprite(@icon-fb);
		}
	}
	&__slide-footer {
		font-weight: 400;
		font-size: 14px;
	}
	&__btn {
		text-align: center;
	}
}