.btn {
	display: inline-block;
	line-height: @btn-line-height;
	background-color: @btn-bg;
	text-align: center;
	color: @btn-text-color;
	text-transform: uppercase;
	font-size: @btn-font-size;
	border-radius: @btn-border-radius;
	padding: 0 28px;
	&:hover {
		background-color: @btn-bg--hover;
		text-decoration: none;
		color: @btn-text-color;
	}
	&--calendar-icon:before {
		content: "";
		display: inline-block;
		width: 15px;
		height: 16px;
		background: url(../img/calendar-icon.png);
		margin-right: 9px;
		position: relative;
		top: 2px;
	}
	&--bordered {
		background-color: transparent;
		border: @btn-border--bordered;
		&:hover {
			background-color: transparent;
			color: @btn-color--bordered-hover;
			border-color: @btn-color--bordered-hover;
		}
	}
	&--more {
		border: 0;
		background-color: transparent;
		color: @gray-base;
		line-height: normal;
		padding: 0;
		border-bottom: 1px dashed;
		border-radius: 0;
		&:hover {
			background-color: transparent;
			color: @gray-light;
		}
	}
}