.relax {
	background: url(../img/relax-bg.png) no-repeat;
	background-position: center;
	padding-top: 53px;
	height: 347px;
	max-width: 780px;
	@media (min-width: @screen-sm) {
		background-size: contain;
		height: auto;
	}
	&__title {
		font-size: 26px;
		margin-bottom: 36px;
		margin-top: 0;
		text-align: center;
		font-weight: 400;
		@media (min-width: @screen-sm) {
			font-size: @font-size--h2;
			margin-bottom: 32px;
		}
	}
	&__wrapper-text {
		text-align: center;
		@media (min-width: @screen-sm) {
			width: 567px;
			margin: 0 auto;
			margin-bottom: 36px;
		}
	}
	&__features {
		list-style: none;
		padding: 0;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		justify-content: space-between;
		li {
			width: 80px;
			margin-bottom: 27px;
			text-align: center;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 500;
			vertical-align: top;
			line-height: 18px;
			img {
				margin-bottom: 14px;
			}
		}
	}
	&__slider-tabs {
		list-style: none;
		text-align: center;
		padding: 0;
	}
	&__tab {
		display: inline-block;
		margin-right: 22px;
		&:last-child {
			margin-right: 0;
		}
		a {
			font-size: 14px;
			color: @gray-light;
			text-transform: uppercase;
			text-decoration: none;
			position: relative;
			letter-spacing: 1px;
		}
		&--active a, a:hover {
			color: @orange-color;
			&:after {
				content: "";
				display: block;
				position: absolute;
				width: 30px;
				height: 2px;
				background-color: @orange-color;
				transform: translate(-50%);
				left: 50%;
			}
		}
	}
}